.calcContainer {
  display: flex;
  flex-direction: column;
  border: solid goldenrod;
  border-radius: 20px;
  padding: 50px;
}

.screenContainer {
  border: solid grey;
  border-radius: 5px;
  max-width: 298px;
  text-align: right;
  font-size: 30px;
}

.buttonsContainer {
  display: flex;
}

.numbersContainer {
  display: flex;
  flex-direction: column;
}

.equalsContainer,
.clearContainer {
  width: 278px;
  padding: 10px;
  margin: 3px;
  background-color: aqua;
  border-radius: 2px;
  text-align: center;
}

.numButton,
.opsButton,
.miscButton {
  text-align: center;
  width: 50px;
  padding: 10px;
  margin: 3px;
  background-color: aqua;
  border-radius: 2px;
}
.opsButton {
  margin-bottom: 6px;
}

.col {
  display: flex;
  flex-direction: row;
}

.miscCol {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

/* .opsContainer {
  align-self: flex-end;
} */

.playing {
  transform: scale(1.1);
  background-color: gray;
  box-shadow: 0 0 1rem gray;
}
