.calcContainer {
  display: flex;
  flex-direction: column;
}

body {
  color: darkmagenta;
  background-color: rgb(8, 41, 8);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.calcContainerContainer {
  display: flex;
  justify-content: center;
  min-width: 220px;
  max-width: 300px;
  margin-top: 10%;
  margin-left: 40%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 30%;
  border: ridge 10px darkgreen;
  border-radius: 30px;
  background-color: #9ba7ba;
}

@media only screen and (max-width: 1400px) {
  .calcContainerContainer {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  .calcContainerContainer {
    margin-left: 10%;
  }
}

.screenContainer {
  border: solid grey;
  background-color: antiquewhite;
  border-radius: 5px;
  max-width: 298px;
  text-align: right;
  font-size: 30px;
}

.screenContainerContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #8998ac;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttonsContainer {
  display: flex;
}

.numbersContainer {
  display: flex;
  flex-direction: column;
}

.equalsContainer,
.clearContainer {
  width: 278px;
  padding: 10px;
  margin: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #a8bfe3;
  border-radius: 2px;
  text-align: center;
}

.numButton,
.opsButton,
.miscButton {
  text-align: center;
  width: 50px;
  padding: 10px;
  margin: 3px;
  background-color: #a8bfe3;
  border-radius: 2px;
}
.opsButton {
  margin-bottom: 6px;
}

.col {
  display: flex;
  flex-direction: row;
}

.miscCol {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

/* .opsContainer {
  align-self: flex-end;
} */

.playing {
  transform: scale(1.1);
  background-color: gray;
  box-shadow: 0 0 1rem gray;
}
